[package]
name = "amp-common"
description = "Rust libraries shared across Amphitheatre components and libraries"
version = "0.9.4"
edition = "2021"
license = "Apache-2.0"
homepage = "https://amphitheatre.app"
repository = "https://github.com/amphitheatre-app/common"
readme = "README.md"
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0.81"
chrono = "0.4.37"
confy = "0.6.1"
convert_case = "0.6.0"
data-encoding = "2.5.0"
dirs = "5.0.1"
json_comments = "0.2.2"
k8s-openapi = { version = "0.23.0", default-features = false, features = ["schemars", "latest"] }
kube = { version = "0.97.0", default-features = false, features = ["client", "runtime", "derive", "rustls-tls"] }
notify = "7.0.0"
oci-distribution = { version = "0.11.0", default-features = false, features = ["rustls-tls", "test-registry"] }
schemars = "0.8.16"
serde = { version = "1.0.197", features = ["derive"] }
serde_json = "1.0.115"
thiserror = "2.0.3"
toml = "0.8.12"
tracing = "0.1.40"
ureq = { version = "2.9.6", features = ["json"] }
url = "2.5.0"
utoipa = { version = "5.0.0", features = ["axum_extras", "uuid", "chrono", "macros"] }
validator = { version = "0.19.0", features = ["derive"] }

[dev-dependencies]
assert_matches = "1.5.0"
mockito = "1.4.0"
